{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <div class="media-body">
            <img class="rounded-circle" src="{{ url_for('static', filename='images/' +  post.author.image_file) }}"
                 alt="">
            <div>
                <p>By {{ post.author.username }}</p>
                <span class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</span>
            </div>
            <h1><a class="text-secondary" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h1>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}
{% endblock content %}